body,html{
	overflow-x:hidden;
	overflow-y:hidden;
}
body{
  font-family:'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  margin-top: 200px;
}
h2{
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}
/* Stilizimi i menuse qe eshte aktive */
.mainheader .active{
  background-color: orange;
}

/*Header and slideshow*/

.headImg{
  position: relative;
  display: block;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  margin: 0;
  padding: 0; 
}

.headImg img{
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%; 
  z-index: -5;
}
.headImg h1{
  position: absolute;
  color: white;
  font-family: inherit;
  font-size: 50px;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
  transition: all 3s;
}
.headImg h1:hover{
  -ms-transform: rotateY(45deg); /* IE 9 */
  -webkit-transform: rotateY(45deg); /* Safari */
  transform: rotateY(45deg);
}
.headImg p{
  position: absolute;
  color: white;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;
  font-family: Raleway;
  font-size: 25px;
  transition: all 4s;
  transition-delay: 1s;
}
.headImg p:hover{
  -ms-transform: rotateX(45deg); /* IE 9 */
  -webkit-transform: rotateX(45deg); /* Safari */
  transform: rotateX(90deg);
}
/*Welcome to Kosovo*/
#welcome{
  font-family: inherit;
  font-size: 1.5em;
  text-align: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#welcome p{
  line-height: 40px;
}
#welcome button{
  background-color: transparent; 
  position: relative; 
  display:block; 
  width: 150px; 
  height: 40px; 
  border: none; 
  margin:20px auto; 
  border-top: 2px solid black; 
  color: darkblue; 
  font-family: inherit; 
  font-size: 14px;
  transition: all 3s ease-in;
}
#welcome button:hover{
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Safari */
  transform: rotate(360deg);
}

/*Newspaper*/

.newspaper
{
    column-count:3;
    column-gap:35px;
    margin-top: 40px;
    margin-bottom: 160px;
    margin-left: 10px;
}
.newspaper h3
{
    margin-bottom: 10px;   
}
#img1{
  margin-left: 160px;
}
#img2{
  margin-left: 260px;
}

/*People Thoughts*/

#slider,
.wrap,
.slide-content {
  margin: 0 ;
  padding: 0;
  font-family: sans-serif, Helvetica, sans-serif;
  width: 100%;
  height: 400px;
  overflow-x: hidden;
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content .ngushto {
  width: 85%;
  font-size: 18px;
  color: #fff;
}
.ngushto .text {
  margin-left: 250px;
  width: 70%;
  margin-top: -50px;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

 .slide-content img{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  float: left;
  transition: all 2s linear;
}

.slide-content img:hover{
  -ms-transform: scale(1.3,1.3); /* IE 9 */
  -webkit-transform: scale(1.3,1.3); /* Safari */
  transform: scale(1.3,1.3);
}

.slide-content {
  color: white;
  animation: colorchange 10s;
  animation-iteration-count: infinite;
}

@keyframes colorchange
{
      0%   {background: #FFA500;}
      10%  {background: #436eee;}
      20%  {background: #4143f4;}
      30%  {background: #00c78c;}
      40% {background: #f46e42;}
      50%   {background: #400B37;}
      60%  {background: #081849;}
      70%  {background: #234943;}
      80%  {background: #DC3F1A;}
      90% {background: #043113;}
      100% {background: #882A7E;}

}

.arrow{
	    position: absolute;
	    cursor: pointer;
        border-radius: 50%;
        margin-top: -35px;
      	top: 50%;
     	width: 45px;
	    height: 45px;
	    background: black;
	    opacity: .6;
	   
}
.arrow p{
	    height: 8px;
		width: 8px;
		transform: rotate(45deg);
}

  .arrow:hover{
	background: white;
   }

    #arrow-right{
      	right: 0;
	    margin-right: 20px; 
      }

       #arrow-right p{
         	margin-top: 17px;
     	    margin-left:  15px;
			border-top:  2px solid white  ;
			border-right:  2px solid white  ;
		}

		#arrow-right:hover p{
			border-color: black black transparent transparent;
		}

       #arrow-left{
	      left: 0;
	      margin-left: 20px;
        }
   
       #arrow-left p{
       	margin-top: 17px;
       	    margin-left:  20px;
			border-bottom:  2px solid white  ;
			border-left:  2px solid white  ;
		}

		#arrow-left:hover p{
			border-color: transparent transparent black black;
		}
		


/*Kosovo Regions*/
.map
{ 
   margin-left: 35%;
    
}
#mapS{
  transition: all 3s;
}
#mapS:hover{
  -ms-transform: skewX(10deg); /* IE 9 */
  -webkit-transform: skewX(10deg); /* Safari */
  transform: skewX(10deg);

  -ms-transform: skewY(10deg); /* IE 9 */
  -webkit-transform: skewY(10deg); /* Safari */
  transform: skewY(10deg);
}

/*Events in Kosovo*/
#events{
  position: relative;
  height: 500px;
  color: black;
  margin: 0 auto;
  padding-bottom: 70px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
   background-color: rgb(243,243,243);
}
#events table{
  margin: 0 auto;
  padding: 0;
  outline: solid black 3px;
}
#events table span{
  font-size: 22px;
}
#events th, td{
  border: 1px solid black;
  text-align: center;

}
.eventName {
  font-weight: bold;
  font-size: 20px;
  width: 400px;
}
.month{
  background-color: black;
  color: white;
  width: 30px;
  font-size: 16px;
}
.special{
  width: 200px;
}
#events a{
  text-decoration: none;
  color: orange;
}
#events a:hover{
  text-decoration: none;
  color: red;
}



.footer{
  width: 100%;
  height: 50px;
  background-color:  #011424;
  opacity: 1;
  float: left;

}

/* Stilizimi i permbajtjes se footerit*/
.footer p{
 width:80%;
 margin-left: 50px;
 background-color:  #011424;
 color: #B7B4B4;
}

.leftbar .active{
  color: orange
}
/* Stilizimi i footerit*/
