/*Stilizimi per cdo foto brenda tabeles se hikingTrails*/
   .img {
  border-radius: 300px;
  height: 40px;
  width: 60px;
  }
/*Stilizimi i struktures se tabeles*/
  table {
  width: 100%;
  }
  
  table td, table th {
  padding: 10px;
  }

  table td {
  text-align: left;
  vertical-align: middle;
  }
  /*Headeri i tabeles te hiking trails*/
  table th {
  background-color: #daeff1;
  font-weight: 300;

  }

.box{
  border: 2.5px solid;
  width: 700px;
  padding: 10px;
  resize: horizontal;
  overflow: auto;
}