body{
  background-image:  url("../../images/nature/background2.png"), url("../../images/nature/background1.jpg") ;
  background-position: left top+30px, left top;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  background-size: 200px 150px,cover;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: left;
   margin: 0;
  height: 100%;
  width: 100%;
  clear: both;
}

/*Content*/
#content {
  margin-top: 70px;
  float: right;
}
#information{
  text-align: center;
  font-style: italic;
  font-size: 18px;
  color: orange;
  background-color: rgba(0,0,0,0.7);
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
section{
  float: right;
  width: 500px;
  height: 350px;
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 5px 5px 18px black;
}
section figure{
  margin:0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
section img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
section figcaption{
  position: relative;
  background-color: rgba(0,0,0,0.7);
  height: 95px;
  margin-top: -135px;
  padding: 20px;
  color: white;
  text-align: left;
  overflow: hidden;
  line-height: 2.2em;
}
section figcaption span{
  margin-left: 30px;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
}
section figcaption .distanca{
  cursor: pointer;
}
section figcaption .specialDesign:hover{
  background-color: black;
}
section figcaption .specialDesign{
  padding-left: 5px;
  color: orange;
  background-color: rgba(255,255,255,0.1);
}
.specialDesign a{
  text-decoration: none;
  color: orange;
}


/*LeftBar*/
.leftbar{ 
 float: left;  
  width: 200px;
  height: auto;
  margin-top: 15%;
  margin-left: 1%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
     border-radius: 10px;
    border-color:  solid black;
}
 .leftbar h5#destinations{
  color: white;
  font-weight: bolder;
  padding-top: 15px ;
  margin: 0;
    border-top-left-radius: 10px;
      border-top-right-radius: 10px;
     height: 30px;
    text-align: center;
  background: radial-gradient(#164c77,#04223a);
}
 .leftbar ul{
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
  padding-top: 2px;
}
 .leftbar ul li{
display: inline-block;
padding: 25px 40px;
float: left;
}
 .leftbar ul li a{
text-decoration: none;
color: white;
font-size: 15px;

}
  .leftbar ul li a:hover{
color: orange;
}

/* Stilizimi i footerit*/
.footer{
  margin-top: 2%;
  width: 100%;
  height: 50px;
  float: left;
  background-color:  #011424;
  opacity: .8;
}

/* Stilizimi i permbajtjes se footerit*/
.footer p{
 width:80%;
 margin-left: 50px;
 color: #B7B4B4;
}

.leftbar .active{
  color: orange
}